<h1><%= t('dealer_update') %></h1>

<%= form_for @spree_dealer do |form| %>
  <%= render "spree/shared/error_messages", :target => @spree_dealer %>
  <%= render 'fields', :form => form %>

  <p class="action">
    <%= form.submit t("update"), :class => 'button' %>
  </p>
<% end %>
